# ignore builds

LittleBill-test-backend/LittleBill-test-backend/bin
LittleBill-test-backend/LittleBill-test-backend/obj

LittleBill-test-frontend/LittleBill-test-frontend/bin
LittleBill-test-frontend/LittleBill-test-frontend/obj

LittleBill-test-frontend/LittleBill-test-frontend-library/bin
LittleBill-test-frontend/LittleBill-test-frontend-library/obj